* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clear,
#resize {
  margin: 1rem;
  width: 8rem;
  height: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  --contentSize: 80vh;
  --size: 16;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--contentSize);
  max-height: var(--contentSize);
  box-sizing: content-box;
  border: 4px solid #000000;
  border-radius: 4px;
}

.square {
  width: calc(var(--contentSize)/var(--size));
  height: calc(var(--contentSize)/var(--size));
  border: 1px solid #000000;
}

@media screen and (max-width: 720px) {
  .container {
    --contentSize: 60vh;
  }
}

@media screen and (max-width: 550px) {
  .container {
    --contentSize: 50vh;
  }
}

@media screen and (max-width: 440px) {
  .container {
    --contentSize: 80vw;
  }
}