* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #333533;
}

.top-section {
  display: flex;
  align-items: center;
  gap: .6rem;
  margin-bottom: 1rem;
}

.choose {
  color: #d6d6d6;
  font-weight: bold;
}

.colorPicker-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

#colorPicker {
  width: 0;
  height: 0;
  border: 0;
}

#clear,
#resize {
  all: unset;
  width: 8rem;
  padding: .2rem;
  border-radius: 4px;
  text-align: center;
  background-color: #f5cb5c;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  --contentSize: 81vh;
  --size: 12;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--contentSize);
  max-height: var(--contentSize);
  box-sizing: content-box;
  border: 4px solid #242423;
  border-radius: 4px;
  background-color: #d6d6d6;
}

.square {
  width: calc(var(--contentSize)/var(--size));
  height: calc(var(--contentSize)/var(--size));
  border: 1px solid #242423;
}

.left-click {
  color: #d6d6d6;
  font-style: italic;
  display: flex;
  justify-items: end;
  margin-top: .4rem;
  margin-left: 2rem;
}

@media screen and (max-width: 720px) {
  .container {
    --contentSize: 60vh;
  }
}

@media screen and (max-width: 550px) {
  .container {
    --contentSize: 50vh;
    --size: 8;
  }

  .top-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .container {
    --contentSize: 80vw;
    --size: 6;
  }

  .top-section {
    flex-direction: column;
  }
}